/* Universal Part */
*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    background: #ebebeb;
}
.container{
    width: 90%;
    margin: auto;
    padding: 40px 0px;
}
.clear {
    clear: both;
}
div textarea {
border-color: lightgrey;
border-width: .6em;
border-style: solid;
margin: 5px 0 10px 0;
box-sizing: ;
}
/* Header */
header h1 {
    float: left;
}
header h1 span{
    font-size: .6em;
    color: #707070;
    font-weight: lighter;
}
.f,.f3{
    padding: 20px;
    float: right;
}
.f:hover, .f3:hover{
    font-weight: bolder;
    font-size: 20px;
    color:dodgerblue ;
}
.f3 {
    font-weight: bold;
}
hr {
    margin: 15px 0;
    background-color: white;
    border: none;
    opacity: 50%;
}

/* Source Code Box */
.codebox{
    margin: auto;
    border-style: inherit;
}
.mid {
    display: flex;
}
.language{
    text-align: center;
    padding-left: 30px;
}
#language-head{
    background-color:#62ACB5;
    color: white;
    border-radius: 3px;
    padding: 5px;
}
label{
    position: relative;
}
label select {
    width: 90px;
    height: 30px;
    border-radius: 5px;
    font-weight: bolder;
    color: black;
    padding-left: 5px;
}
label select option{
    color: white;
    background-color:#62ACB5;
}
/* Input text box */
.in-btn{
    display: flex;
}
.run, .clear-bt{
    width: 80px;
    text-decoration: whitesmoke;
    padding: 10px;
    font-weight: bolder;
    border-radius: 10px;
    margin: 5px 30px;
}
.run{
    background: #99FF99;
}
.run:hover{
    background:#32CD32;
    transition: 1s;
    color: white;
}
.clear-bt{
    background: #FF9999;
}
.clear-bt:hover{
    background:#ff4040;
    color: white;
    transition: 1s ease;
}
/* Comment & Output Text Boxes */
.comment_box{
    border: none;
    background-color: transparent;
}
.br{
    border-top: 1px dashed black;
    margin: 5px;
}
/* Footer part */
footer{
    margin: auto;
    text-align: center;
    padding: 30px;
    background-color: #333333;
    font-weight: lighter;
    font-size: 1.4rem;
    color: white;
}