*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    background: #ebebeb;
}
.container{
    width: 90%;
    margin: auto;
    padding: 40px 0px;
}
.clear {
    clear: both;
}
/* Header */
header h1 {
    float: left;
}
header h1 span{
    font-size: .6em;
    color: #707070;
    font-weight: lighter;
}
.f,.f3{
    padding: 20px;
    float: right;
}
.f:hover, .f3:hover{
    font-weight: bolder;
    font-size: 20px;
    color:dodgerblue ;
}
.f3 {
    font-weight: bold;
}
hr {
    margin: 15px 0;
    background-color: white;
    border: none;
    opacity: 50%;
}

/* Source Code Box */
.codebox{
    margin: auto;
    border-style: inherit;
}
.mid {
    display: flex;
    margin: 15px 0;
}
.language{
    text-align: center;
    padding-left: 30px;
}
#language-head{
    background-color:#62ACB5;
    color: white;
    border-radius: 3px;
    padding: 5px;
}
label select {
    width: 90px;
    height: 30px;
    border-radius: 5px;
    font-weight: bolder;
    color: 62ACB5;
    padding-left: 5px;
}
label select option{
    color: white;
    background-color:#62ACB5;
}
.in-btn{
    display: flex;
    margin-top: 10px;
}
.run, .clear-bt{
    width: 80px;
    text-decoration: whitesmoke;
    padding: 10px;
    font-weight: bolder;
    border-radius: 10px;
    margin: 5px 30px;
}
.run{
    background: #99FF99;
}
.run:hover{
    background:green;
    transition: 1s;
    color: white;
}
.clear-bt{
    background: #FF9999;
}
.clear-bt:hover{
    background:red;
    color: white;
    transition: 1s ease;
}
/* Footer */
footer{
    margin: auto;
    text-align: center;
    padding: 30px;
}